<a href='/'>
	Trinfo
</a>
{% if request.user.is_authenticated %}
<span>Hello, <a href="{% url 'profile' user.username %}">@{{request.user}}</a></span>
<a href="{% url 'signout' %}">Logout</a>
{% else %}
<a href="{% url 'signin' %}">Login</a>
<button><a href="{% url 'signup' %}">Create account</a></button>
{% endif %}

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}

<hr>