{% extends 'main.html' %}
{% block content %}
<h1>Trinfo - @{{user.username}} </h1>


{% if user.is_authenticated and user == request.user %}
	<h2>Brokerages <button><a href="{% url 'add-brokerage' %}">Add connection</a></button></h2>

<table>
	<thead>
		<tr>
			<th>Alias</th>
			<th>Brokerage</th>
			<th>Created</th>
			<th>Last updated</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
    {% for brokerage in brokerage %}
    <tr>
    	<td><a href="{% url 'update-brokerage' brokerage.id %}">{{brokerage.alias}}</a></td>
    	<td>{{ brokerage.get_name_display }}</td>
    	<td><small>{{ brokerage.created }}</small></td>
		<td><small>{{ brokerage.updated }}</small></td>
		<td>
			<form method="post">
	    		{% csrf_token %}
				<input type="hidden" name="brokerage_id" value="{{ brokerage.id }}">
	    		<button type="submit" name="run_connection">Fetch trades</button>
			</form>
		</td>
		<td><button><a href="{% url 'delete-brokerage' brokerage.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

	<h2>Last Orders</h2>
	<div>
		{% for order in order %}
			<div>
				<a href="{% url 'profile' order.user.username%}"><span>@{{order.user.username}}</span></a>
				<a href="/order/{{order.id}}"><h5>{{order.symbol}}: {{order.buy_sell}}</h5></a>
				<small>{{order.created}}</small>
				<hr>
				
			</div>
		{% endfor %}
	</div>

{% endblock content %}
