{% extends 'main.html' %}
{% block content %}
<h1>Trinfo - @{{user.username}} </h1>


{% if user.is_authenticated and user == request.user %}
	<h2>Brokerages <button><a href="{% url 'add-brokerage' %}">Add connection</a></button></h2>

<table>
	<thead>
		<tr>
			<th>Alias</th>
			<th>Brokerage</th>
			<th>Created</th>
			<th>Last updated</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
    {% for brokerage in brokerage %}
    <tr>
    	<td><a href="{% url 'update-brokerage' brokerage.id %}">{{brokerage.alias}}</a></td>
    	<td>{{ brokerage.get_name_display }}</td>
    	<td><small>{{ brokerage.created }}</small></td>
		<td><small>{{ brokerage.updated }}</small></td>
		<td>
			<form method="post">
	    		{% csrf_token %}
				<input type="hidden" name="brokerage_id" value="{{ brokerage.id }}">
	    		<button type="submit" name="run_brokerage_connection">Fetch trades</button>
			</form>
		</td>
		<td><button><a href="{% url 'delete-brokerage' brokerage.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

	<h2>Last Orders</h2>
	<table border="1">
    <thead>
        <tr>
			<th>Brokerage</th>
			<th>Asset Class</th>
            <th>Symbol</th>
            <th>Buy/Sell</th>
            <th>Date Time</th>
            <th>Open/Close</th>
            <th>Quantity</th>
            <th>Order Price</th>
            <th>Order Money</th>
            <th>Brokerage Commission</th>
            <th>Net Money</th>
        </tr>
    </thead>
    <tbody>
        {% for order in order %} <!-- Fixed the loop variable -->
            <tr>                
				<td>{{ order.brokerage.get_name_display }}</td>
				<td>{{ order.asset_class|capfirst }}</td>
                <td><a href="/order/{{ order.id }}">{{ order.symbol }}</a></td>
                <td>{{ order.buy_sell|capfirst }}</td>
                <td>{{ order.date_time }}</td>
                <td>{{ order.open_close|capfirst  }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.order_price }}</td>
                <td>{{ order.currency }} {{ order.order_money|floatformat:2 }}</td>
                <td>{{ order.currency }} {{ order.brokerage_commission|floatformat:2 }}</td>
                <td>{{ order.currency }} {{ order.net_money|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
