{% extends 'main.html' %}

{% block content %}
{% if timeframe == "day" %}
    <h1>Trades by Day</h1>
{% elif timeframe == "week" %}
    <h1>Trades by Week</h1>
{% elif timeframe == "month" %}
    <h1>Trades by Month</h1>
{% else %}
    <h1>All Trades</h1>
{% endif %}
<button><a href="{% url 'trades_by_timeframe' timeframe='day'%}">Trades by day</a></button>
<button><a href="{% url 'trades_by_timeframe' timeframe='week'%}" >Trades by week</a></button>
<button><a href="{% url 'trades_by_timeframe' timeframe='month'%}">Trades by month</a></button>
<button><a href="{% url 'trades_by_timeframe' timeframe='all'%}">All Trades</a></button>

{% for group in grouped_trades_with_stats %}
{% if timeframe == "day" %}
    <h2>{{ group.date|date:"Y-m-d" }}</h2>
{% elif timeframe == "week" %}
    <h2>Week of {{ group.date|date:"Y-W" }}</h2>
{% elif timeframe == "month" %}
    <h2>{{ group.date|date:"Y F" }}</h2>
{% elif timeframe == "all" %}

{% else %}
    <h2>{{ group.date|date:"Y-m-d" }}</h2>
{% endif %}

<!-- Displaying the sums -->
<!-- Displaying the sums -->
<p><strong>Total Trade Result:</strong> {{ group.stats.total_trade_result|floatformat:2 }}</p>
<p><strong>Total Trade Result Percentage:</strong> {{ group.stats.total_trade_result_percentage|floatformat:2 }}%</p>
<p><strong>Average Trade Money:</strong> {{ group.stats.average_trade_money|floatformat:2 }}</p>
<p><strong>Win rate:</strong> {{ group.stats.win_rate|floatformat:2 }}%</p>
<p><strong>Total Trade Money:</strong> {{ group.stats.total_trade_money|floatformat:2 }}</p>

<p><strong>Total Money Won:</strong> {{ group.stats.total_money_win|floatformat:2 }}</p>
<p><strong>Percentage of Money Won:</strong> {{ group.stats.total_money_win_percentage|floatformat:2 }}%</p>
<p><strong>Total Money in Winning Trades:</strong> {{ group.stats.total_trade_money_when_win|floatformat:2 }}</p>
<p><strong>Total Trades Won:</strong> {{ group.stats.total_trades_win }}</p>

<p><strong>Total Money Lost:</strong> {{ group.stats.total_money_loss|floatformat:2 }}</p>
<p><strong>Percentage of Money Lost:</strong> {{ group.stats.total_money_loss_percentage|floatformat:2 }}%</p>
<p><strong>Total Money in Losing Trades:</strong> {{ group.stats.total_trade_money_when_loss|floatformat:2 }}</p>
<p><strong>Total Trades Lost:</strong> {{ group.stats.total_trades_loss }}</p>

<p><strong>Total Quantity of Trades:</strong> {{ group.stats.total_of_trades }}</p>
<p><strong>Total Quantity of Orders:</strong> {{ group.stats.total_of_orders }}</p>
<p><strong>Total Brokerage Commission:</strong> {{ group.stats.total_trade_brokerage_commission|floatformat:2 }}</p>



<table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Long/Short</th>
                <th>Win/Loss</th>
                <th>Quantity of Orders</th>
                <th>Quantity Trade Asset</th>
                <th>Trade Money</th>
                <th>Trade Result</th>
                <th>Trade Result Percentage</th>
                <th>Trade Brokerage Commission</th>
                <th>Date Open</th>
                <th>Date Close</th>
                <th>Holding Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in group.trades %}
            <tr>
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.long_short }}</td>
                <td>{{ trade.win_loss }}</td>
                <td>{{ trade.quantity_of_orders }}</td>
                <td>{{ trade.quantity_trade_asset }}</td>
                <td>{{ trade.trade_money|floatformat:2 }}</td>
                <td>{{ trade.trade_result|floatformat:2 }}</td>
                <td>{{ trade.trade_result_percentage|floatformat:2 }}</td>
                <td>{{ trade.trade_brokerage_commission|floatformat:2 }}</td>
                <td>{{ trade.date_open }}</td>
                <td>{{ trade.date_close }}</td>
                <td>{{ trade.holding_time }}</td>
                <td><a href="{% url 'trade' trade.id %}">View Orders</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
